img {
  width: 100%;
}
.full-screen {
  min-height: 100vh;
}
.flex--1 {
  flex: 1;
}
.btn-dang {
  background-color: transparent;
  border: 1px solid red;
  color: red;
}
.bg-spec {
  background-color: #09639275;
}
.mb-25 {
  margin: 25px;
}
.mg-15 {
  margin: 15px;
}
.bord-rad {
  border-radius: 5px;
}
.profile h4 {
  color: #d3aeae;
}
.liste-follows {
  padding: 20px 0;
  position: relative;
  background: url("./img/back4.jpeg") no-repeat;
  /* height: 700px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  /* align-items: center; */
  display: flex;
}

.landing {
  position: relative;
  background: url("./img/back2.jpg") no-repeat;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}
.bg-bc {
  background-color: #41dae4;
}
.containe-accueil {
  width: 80%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #f1f1f1;
  text-align: center;
  z-index: 2;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.landing input {
  background-color: transparent;
  color: white;
}
.landing input:focus {
  background-color: transparent;
  color: white;
}
.landing small {
  color: black;
}

.landing-inner {
  padding-top: 80px;
}

/* .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
