img {
  width: 100%;
}
.full-screen {
  min-height: 100vh;
}
.flex--1 {
  flex: 1;
}
.btn-dang {
  background-color: transparent;
  border: 1px solid red;
  color: red;
}
.bg-spec {
  background-color: #09639275;
}
.mb-25 {
  margin: 25px;
}
.mg-15 {
  margin: 15px;
}
.bord-rad {
  border-radius: 5px;
}
.profile h4 {
  color: #d3aeae;
}
.liste-follows {
  padding: 20px 0;
  position: relative;
  background: url("./img/back4.jpeg") no-repeat;
  /* height: 700px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  /* align-items: center; */
  display: flex;
}
.dash {
  padding: 20px 0;
  position: relative;
  background: url("./img/back5.jpg") no-repeat;
  /* height: 700px; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  /* align-items: center;
  display: flex; */
}
.dash-box {
  background-color: #ffffffa3;
  min-height: 750px;
}
.landing {
  position: relative;
  background: url("./img/back2.jpg") no-repeat;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
}
.bg-bc {
  background-color: #41dae4;
}
.containe-accueil {
  width: 80%;
  height: 95%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #f1f1f1;
  text-align: center;
  z-index: 2;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.landing input {
  background-color: transparent;
  color: white;
}
.landing input:focus {
  background-color: transparent;
  color: white;
}
.landing small {
  color: black;
}

.landing-inner {
  padding-top: 80px;
}

/* .dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.post-box-dash {
  padding: 20px;
}

.post-box-dash h4 {
  color: brown;
}
.bg {
  color: brown;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dis-flex {
  flex-direction: column;
}
.post-box-dash ul {
  list-style-type: none;
  border: 1px solid white;
  padding: 5px;
}
.profil-card {
  max-width: 100%;
  background-color: #fafad27d;
  margin-bottom: 30px;
  padding: 15px 0 0 10px;
}
.flex {
  display: flex;
}
.test {
  align-items: center;

  justify-content: center;
}

.create-profile,
.add-experience,
.add-education input {
  background-color: transparent;
  color: white;
}
.create-profile,
.add-experience,
.add-education input:focus {
  background-color: transparent;
  color: white;
}
.create-profile,
.add-experience,
.add-education textarea {
  background-color: transparent;
  color: white;
}
.create-profile,
.add-experience,
.add-education textarea:focus {
  background-color: transparent;
  color: white;
}

.black-trans {
  background-color: #21252961;
}
.create-profile,
.add-education h1 {
  color: white;
}
.Profile {
  position: relative;
  background: url("./img/back6.jpeg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  border-radius: 8px;
}

.upload-btn-wrapper input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
